body {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    min-height: 100vh;
}

.burgertitle{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    color: maroon;
}

li{
    list-style-type: none;
    padding-bottom: 3%;
}

.container{
    margin-bottom: 3%;
}

button{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: lightgray;
    color: blue;
}

.descrip{
    text-align: center;
}

.addBurger{
    text-align: center;
    padding-top: 10%;
}

